{<<"app">>,<<"alara_uuid">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"High-quality UUID generation for Erlang with distributed entropy powered by ALARA.">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/alara_uuid.app.src">>,<<"src/alara_uuid.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"Documentation">>,<<"https://hexdocs.pm/alara_uuid/">>},
  {<<"GitHub">>,<<"https://github.com/Green-Mice/alara_uuid">>}]}.
{<<"name">>,<<"alara_uuid">>}.
{<<"requirements">>,
 [{<<"alara">>,
   [{<<"app">>,<<"alara">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.1.8">>}]}]}.
{<<"version">>,<<"0.1.3">>}.
