{<<"app">>,<<"alara">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"ALARA - Distributed Entropy Network System">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"include/alara.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,<<"src/alara.app.src">>,
  <<"src/alara.erl">>,<<"src/alara_app.erl">>,
  <<"src/alara_cluster_monitor.erl">>,<<"src/alara_node.erl">>,
  <<"src/alara_node_sup.erl">>,<<"src/alara_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/Green-Mice/alara">>}]}.
{<<"name">>,<<"alara">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.8">>}.
